$primary-color: #edca53;

$background-gradient: linear-gradient(to right, #3c3c3c, #020202);
$table-header-gradient: linear-gradient(to right, #fefefe, #a3b4c2);

$status-green: #009e40;
$status-yellow: #fbd040;
$status-red: #dc3b2a;
$status-blue: #0073ef;

$border-radius: 8px;
